html,body{
    font-family: 'Open Sans';
    color: #2D2A26;
    height: 100%;
}
.header-row{
    margin-top: 40px;
}
.fleetrow{
    margin-top: 90px;
}
#plus{
    margin-top: 20px;
    margin-bottom: 5px;
    float: right;
}
#header-text{
    float: left;
    color: #CE0E2D;
    font-style: italic;
    font-weight: bolder;
}
#contact,#fleet{
    margin-top: 70px;
    color: #CE0E2D;
    float: left;
}
#collectionHeader{
    margin-top: 10px;
    color: #CE0E2D;
    float: left;
}
#fleet{
    color: #CE0E2D;
    float: left;
}
#btnCheckFleet{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}
#vehicleCardRow{
    margin-top:10px;
    margin-left:auto;
    margin-right: auto;
    margin-bottom:10px;
}
.contactForm{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}
#submit{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #CE0E2D;
    font-weight: bold;
}